* {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

:root {
    --cal_blue: #000b49;
    --cal_acua: #9adcdc;
}

body {
    background: var(--cal_acua);
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

.row {
    margin: 0;
}

/* Animacion de whatsapp */
@keyframes pulse-whats {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 255, 255, .7);
        box-shadow: 0 0 0 0 rgbargba(0, 230, 118, .7);
    }

    70% {
        -moz-box-shadow: 0 0 0 15px rgba(77, 194, 71, 0);
        box-shadow: 0 0 0 15px rgba(77, 194, 71, 0)
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(77, 194, 71, 0);
        box-shadow: 0 0 0 0 rgba(46, 172, 39, 0)
    }
}

.whatsapp {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    animation-name: pulse_animation;
    animation-duration: 5000ms;
    transform-origin: 30% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 0 0 rgb(255 255 255 / 70%);
    animation: pulse-whats 2s infinite;
    z-index: 1100;
}

.title {
    color: var(--cal_blue);
    font-weight: 700;
}

.text-red {
    color: #e00109;
    font-size: 1.35rem;
    font-weight: 700;
}

.wrap {
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.wrap .header {
    background-image: url(../images/BG-Logo.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.wrap .header img {
    display: block;
    margin: 0 auto;
}

.header h1 {
    font-size: 14px;
    position: absolute;
    left: 40%;
    bottom: 15%;
    color: var(--cal_blue);
}

.bg_acua {
    background-color: var(--cal_acua);
    color: var(--cal_blue);
}

.sub_header {
    background-image: url(../images/bg_boiler.jpg);
    background-size: cover;
    background-position: center;
    padding: 2rem;
}

.sub_header h2 {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 700;
    font-family: 'Anton', sans-serif;
}

.sub_header h1 {
    font-size: 13px;
    color: #000b49;
    font-weight: 700;
}

.box_contact a {
    display: block;
    margin: 10px 0 10px 0;
    color: #333;
    width: 80%;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.box_contact .icon {
    width: 30px;
    display: inline-block;
    margin-right: 10px;
}

.box_red {
    background: #e00109;
}

.box_red img {
    width: 30px;
}

.servicios {
    color: #327da1;
}

.servicios ul li {
    position: relative;
    line-height: 1;
    margin: 25px 15px;
}

.servicios ul li::after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: -15px;
    top: 0;
    background-image: url(../images/right-arrow.png);
    background-size: cover;
    background-position: center;
}

.servicios .asterisco {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.multimarca {
    background-color: #dddddd;
}

.boiler_tres,
.boiler_dos {
    position: absolute;
    right: 0;
    top: -60px;
    width: 115px;
}

.boiler {
    position: absolute;
    right: 0;
    width: 100px;
    bottom: 0;
}

.box_carousel .marco {
    position: absolute;
    top: 0;
}

.carousel-control-next,
.carousel-control-prev {
    width: 30px;
    height: 30px;
    bottom: 5px;
    top: auto;
    opacity: 1;
}

.carousel-control-next {
    right: 40%;
}

.carousel-control-prev {
    left: 40%;
}

footer {
    background-image: url(../images/BG-Logo.png);
    background-position: center;
    background-size: cover;
}

footer img {
    width: 120px;
}

/* RESPONSIVE */

@media(max-width: 599px) {

    .carousel-control-next,
    .carousel-control-prev {
        bottom: 15px;
    }
}

@media(max-width: 539px) {

    .carousel-control-next,
    .carousel-control-prev {
        bottom: 8px;
    }
}

@media (max-width: 380px) {

    .boiler_tres,
    .boiler_dos {
        position: absolute;
        right: 0;
        top: -60px;
        width: 100px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        bottom: 4px;
    }

}

@media (max-width: 360px) {

    .boiler_tres,
    .boiler_dos {
        position: absolute;
        right: 0;
        top: -60px;
        width: 80px;
    }

    .boiler {
        position: absolute;
        right: 0;
        width: 70px;
        bottom: 0;
    }

    .carousel-control-next,
    .carousel-control-prev {
        width: 30px;
        height: 30px;
        bottom: 1px;
        top: auto;
        opacity: 1;
    }
}



@media (min-width: 600px) {
    * {
        font-size: 16px !important;
    }

    .title {
        font-size: 2rem !important;
    }

    .header h1 {
        font-size: 21px !important;
        position: absolute;
        left: 43%;
        bottom: 15%;
        color: var(--cal_blue);
        font-weight: 700;
    }

    .sub_header h2 {
        font-size: 5.5rem !important;
    }

    .sub_header h1 {
        font-size: 17px !important;
    }

    .sub_header {
        padding: 2rem;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .boiler {
        width: 180px;
        bottom: -50px;
    }

    .text-red {
        font-size: 2rem !important;
        font-weight: 700;
    }

    .boiler_tres,
    .boiler_dos {
        width: 200px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        bottom: 25px;
    }

    .whatsapp {
        width: 60px;
        height: 60px;
        bottom: 40px;
        left: calc(50% + 280px);
    }
}